anyio==3.6.2
Brotli==1.0.9
certifi==2022.9.24
cffi==1.15.1
chardet==3.0.4
click==8.1.3
cryptography==39.0.0
dnspython==2.3.0
docopt==0.6.2
email-validator==1.3.0
et-xmlfile==1.1.0
fastapi==0.89.1
Flask==2.2.2
Flask-Compress==1.13
Flask-MySQLdb==1.0.1
googletrans==3.1.0a0
gunicorn==20.1.0
h11==0.9.0
h2==3.2.0
hpack==3.0.0
hstspreload==2022.11.1
httpcore==0.9.1
httptools==0.5.0
httpx==0.13.3
hupper==1.11
hyperframe==5.2.0
idna==2.10
importlib-metadata==5.0.0
itsdangerous==2.1.2
Jinja2==3.0.3
lorem-text==2.1
Markdown==3.4.1
MarkupSafe==2.1.1
mysql==0.0.3
mysql-connector==2.2.9
mysql-connector-python==8.0.31
mysqlclient==2.1.1
ninjadog==0.5.2
numpy==1.23.4
opencv-python==4.6.0.66
openpyxl==3.0.10
orjson==3.8.5
PasteDeploy==3.0.1
Pillow==9.2.0
plaster==1.1.2
plaster-pastedeploy==1.0.1
protobuf==3.20.1
pycparser==2.21
pydantic==1.10.4
pyjade==4.0.0
PyMySQL==1.0.2
pyperclip==1.8.2
pyramid==1.9
python-dotenv==0.21.0
python-multipart==0.0.5
PyVCF==0.6.8
PyYAML==6.0
qrcode==7.3.1
repoze.lru==0.7
rfc3986==1.5.0
six==1.16.0
sniffio==1.3.0
starlette==0.22.0
translationstring==1.4
typing-extensions==4.4.0
ujson==5.7.0
uvicorn==0.20.0
uvloop==0.17.0
venusian==3.0.0
watchfiles==0.18.1
WebOb==1.8.7
websockets==10.4
Werkzeug==2.2.2
zipp==3.9.0
zope.deprecation==4.4.0
zope.interface==5.5.2
