body {
    margin: 1em;
    /* margin-bottom: 1em;
    margin: 1%; */
}
* {font-size:14pt;font-family:Verdana,Helvetica,Sans-Serif,Arial;}
a {
    display: block;
    text-decoration: none;
    color: black;
    outline: none;
    cursor: pointer;
    background-color: #f1f1f1;
    padding: 5px;
}
a:hover { background-color: #ddd;}


/* a, a:visited,a:active,a:link {
    color: blue;
} */
/*  ===================================================
    ## login forms
    ===================================================*/
div.center {
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
}

form.login {
    width: 70%;
}

form.login > label,
form.login > input {
    display: block;
    width: 20em;
}

form.login > label {
    margin-top: 0.5em;
}

/*  ===================================================
    ## popup & cover 
    ===================================================*/
.modal {
    /* position: absolute; */
    position: fixed;
    visibility: hidden;
}

#popup {
    z-index: 9;
    background-color: white;
    padding: 0;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

#popup_head  { 
    margin: 0;
    position: relative;
    padding: 16px;
}

#popup_head a {
    position: absolute;
    color: white;
    top: 0;
    right: 0;
    padding: 16px;
    background-color: #3498DB;
    display: block;
}

#popup_head a:hover {
    background-color: #2980B9;
}

#popup_body {
    position: relative;
    height: 90%;
    padding: 1%;
}

#popup_content {
    position: relative;
    height:90%;
    overflow-y: auto;
}


#cover {
    left: 0;
    z-index: 3;
    width: 100%;
    height: 100%;
    background-color: white;
    opacity: 0.6;
}


/*  ===================================================
    ## dropdown
    ===================================================*/
body {
    margin-top: 4em;
}

#popup_head,
#menu { 
    background-color: #3498DB;
    color: white;
}

#menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    box-shadow: 0 0 20px 0 gray;
}

.dropdown {
    float: left;
}


.dropdown a {
    display: block;
}

.dropbtn {
    background-color: #3498DB;
    color: white;
    padding: 16px;
}

.dropbtn:hover, .dropbtn:focus {
    background-color: #2980B9;
}

.dropdown > div { 
    position: relative;
}

.dropcont { 
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    visibility: hidden;
    white-space: nowrap;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}
.dropcont a,
.dropcont p
{ 
    color: black;
    padding: 12px 16px;
}

.show { visibility: visible }


    /*  ===================================================
    ## content
    ===================================================*/
#content {
    width: 90%;
    margin: auto;  
}

textarea:invalid,
input:invalid {
    border: 1px solid red;
}

/* ============= selection tables */
div.clickSel,
div.objSel {
    display: table;
    width: 100%;
}

div.clickSel > a,
div.objSel > a {
    display: table-row;
    min-height: 1em;
}

div.objSel > a > div:first-child {
    width: 60px;
}

div.objSel > a > div:nth-child(2) {
    width: 4.5em;
    text-align: right;
}

div.objSel > a > div:nth-child(3) {
    font-style: italic;
}

/* div.clickSel > div {
    background-color: cyan;
} */

div.clickSel span 
{
    display: table-cell;
    padding: 0.1em;
}

div.clickSel > a > span:nth-child(2) {
    font-style: italic;
}

div.objSel > a > * {
    display: table-cell;
    vertical-align: middle;
    padding-left: 1em;
}


div.objSel > a > div > div
{
    display: flex;
    width: 50px;
    height: 50px;
    justify-content: center;
    align-items: center;
}

div.objSel > a > div > div > img
{
    max-width: 100%;
    max-height: 100%;
}

#obj_top > div {
    float: left;
}
#obj_top > div > div{
    margin-left: 2em;
}

    /*  ===================================================
    ## titles
    ===================================================*/
.ttl {
    display: table;
    width: 100%;
}
.ttl > div{
    display: table-row;
}
.ttl p, .ttl textarea {
    display: table-cell;
}
.ttl p {
    vertical-align: top;
    padding: 0.5em;
}
.ttl textarea {
    width: 90%;
}


table, th, td {
    border: 1px solid;
}

th, td {
    padding: 5px;
    text-align: left;
}

td {
    vertical-align: top;
}

thead {
    background-color: lightgray;
}

table {
    width: 100%;
    border-collapse: collapse;
}

td > a {
    background-color: lightgray;
    width: 95%;
    height: 1em;
    border: none;
    display: inline-block;
    text-align: center;
    font-style: normal;
    padding: 3px;
}

table.ltb > tbody > tr > td {
    font-style: italic;
}

table.lel td:first-child {
    background-color: lightgray;
    width: 10em;
}

td > input,
td > textarea {
    width: 100%;
    border: none;
    font-style: italic; 
}

input[type=text] {
    word-wrap: break-word;
    word-break: break-all;
}

button[type=submit] {
    margin-top: 10px;
}

div.buttons {
    text-align: right;
}

/*  ===================================================
    ## objects
    ===================================================*/
#LABEL { font-style: italic; font-size: 120%;}

div.titles > a {
    padding-left: 2em;
}

div.dims > input {
    width: 5em;
    text-align: center;
}

.objTitel {
    font-style: italic;
}

/*  ===================================================
    ## object & image display
    ===================================================*/
img {
    max-width: 100%;
}

.imgdisp {
    padding: 0;
}

.label {
    margin-bottom: 2px;
}

#obj_display {
    text-align: center;
}

#obj_display * {
    color: rgb(101, 101, 101);
}

p {
    margin-top: 0.2em;
    margin-bottom: 0.2em;
}

.dropZone{
    display: block;
    color: transparent;
    width: 100%;
    height: 50px;
    background-color: lightgray;
    border: 1px solid black;
    cursor: pointer;
}

div.imgDisplayFrame {
    width: 100%;
    border: 1px solid black;
    min-height: 180px;
    background-color: lightgray;
}

div.imgDisplay {
    overflow-Y: auto;
}

div.imgDisplay > div,
div.img {
    display: flex;
    /* float: left; */
    width: 170px;
    height: 170px;
    margin: 2px;
    border: 2px solid;
    border-color: white darkgray darkgray white;
    justify-content: center;
    align-items: center;
}

div.imgDisplay img,
div.img > img
{
    max-width: 160px;
    max-height: 160px;
    cursor: pointer;
}


div.imgDisplay > div {
    float: left;
}


div.imgDisplayEnd {
    clear: both;
}

div.imgDisplay > div.exd {
    border-color: orange red red orange;
}

div.objImgs > div:first-child, 
div.objImg {
    border-color: lightgreen darkgreen darkgreen lightgreen;
    background-color: white;
}

.imgrm {
    background-color: orange;
}

div.menu > div {
    float: left;
    /* margin-left: 1em; */
    padding-right: 1em;
}

div.clr,
div#content {
    clear: both; 
}

/*  ===================================================
    image info display
    ===================================================*/
div.imgInfo {
    /* background-color: black;
    color: lightgray;
    padding: 10px; */
    padding-left: 50px;
}
/* div.imgInfo > img {
    border: 1px solid lightgray;
} */
div.exifData {
    display: table;
    margin-bottom: 0.25em;
}
div.exifData > div {
    display: table-row;
}
div.exifData > div > span {
    display: table-cell;
    padding-right: 1em;
}