body {
    margin: 1em;
    /* margin-bottom: 1em;
    margin: 1%; */
}
* {font-size:14pt;font-family:Verdana,Helvetica,Sans-Serif,Arial;}
a {
    text-decoration: none;
    color: blue;
    outline: none;
    cursor: pointer;
}
/* a, a:visited,a:active,a:link {
    color: blue;
} */
/*  ===================================================
    ## login forms
    ===================================================*/
div.center {
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
}

form.login {
    width: 70%;
}

form.login > label,
form.login > input {
    display: block;
    width: 20em;
}

form.login > label {
    margin-top: 0.5em;
}

/*  ===================================================
    ## popup & cover 
    ===================================================*/
.modal {
    position: absolute;
    top: 0;
    visibility: hidden;
}

#popup {
    left: 2%;
    z-index: 9;
    width: 95%;
    background-color: white;
    padding: 1%;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);
}

#popup_head { 
    position: relative; 
    min-height: 1em;
}
#popup_head > button {
    position: absolute;
    top: -0.7em;
    right: 0;
}

#cover {
    left: 0;
    z-index: 3;
    width: 100%;
    height: 100%;
    background-color: gray;
    opacity: 0.6;
}

#popup_content {
    position: relative;
    overflow-y: auto;
    height: 90%;
}

/*  ===================================================
    ## content
    ===================================================*/
#content {
    width: 90%;
    margin: auto;  
}

textarea:invalid,
input:invalid {
    border: 1px solid red;
}

/* ============= selection tables */
div.clickSel,
div.objSel {
    display: table;
    width: 100%;
}

div.clickSel a:hover,
div.objSel a:hover {
    background-color: lightblue;
}

div.clickSel > *,
div.objSel > a {
    display: table-row;
    min-height: 1em;
}

div.objSel > a > div:first-child {
    width: 60px;
}

div.objSel > a > div:nth-child(2) {
    width: 4.5em;
    text-align: right;
}

div.objSel > a > div:nth-child(3) {
    font-style: italic;
}

div.clickSel > div {
    background-color: cyan;
}

div.clickSel span 
{
    display: table-cell;
    border: 1px solid lightgray;
    padding: 0.1em;
}

div.clickSel > a > span {
    font-style: italic;
}

div.objSel > a > * {
    display: table-cell;
    vertical-align: middle;
    padding-left: 1em;
}


div.objSel > a > div > div
{
    display: flex;
    width: 50px;
    height: 50px;
    justify-content: center;
    align-items: center;
}

div.objSel > a > div > div > img
{
    max-width: 100%;
    max-height: 100%;
}



#obj_top > div {
    float: left;
}
#obj_top > div > div{
    margin-left: 2em;
}


#obj_top_end {
    clear: both;
}

table, th, td {
    border: 1px solid;
}

th, td {
    padding: 5px;
    text-align: left;
}

td {
    vertical-align: top;
}

thead {
    background-color: cyan;
}

table {
    width: 100%;
    border-collapse: collapse;
}

td > a {
    background-color: lightgray;
    width: 95%;
    height: 1em;
    border: none;
    display: inline-block;
    text-align: center;
    font-style: normal;
    padding: 3px;
}

td > a:hover {
    background-color: orange;
}

table.ltb > tbody > tr > td {
    font-style: italic;
}

table.lel td:first-child {
    background-color: cyan;
    width: 10em;
}

td > input,
td > textarea {
    width: 100%;
    border: none;
    font-style: italic; 
}

input[type=text] {
    word-wrap: break-word;
    word-break: break-all;
}

button[type=submit] {
    margin-top: 10px;
}

div.buttons {
    text-align: right;
}

/*  ===================================================
    ## objects
    ===================================================*/
#objTitle { font-style: italic; }

div.titles > a {
    display: block;
    padding: 0.1em 0.1em 0.1em 2em;
    font-style: italic;
}
div.titles > a:hover {
    background-color: lightblue;
}

div.dims > input {
    width: 5em;
    text-align: center;
}

.objTitel {
    font-style: italic;
}

/*  ===================================================
    ## image display
    ===================================================*/
.label {
    margin-bottom: 2px;
}

.dropZone{
    display: block;
    color: transparent;
    width: 100%;
    height: 50px;
    background-color: lightgray;
    border: 1px solid black;
    cursor: pointer;
}

div.imgDisplayFrame {
    width: 100%;
    border: 1px solid black;
    min-height: 180px;
    background-color: lightgray;
}

div.imgDisplay {
    overflow-Y: auto;
}

div.imgDisplay > div,
div.img {
    display: flex;
    /* float: left; */
    width: 170px;
    height: 170px;
    margin: 2px;
    border: 2px solid;
    border-color: white darkgray darkgray white;
    justify-content: center;
    align-items: center;
}

div.imgDisplay > div {
    float: left;
}


div.imgDisplay img {
    cursor: pointer;
}

/* .imgDisplayFix {
    height: 360px;
} */

div.imgDisplayEnd {
    clear: both;
}

div.imgDisplay > div.exd {
    border-color: orange red red orange;
}

div.objImgs > div:first-child, 
div.objImg {
    border-color: lightgreen darkgreen darkgreen lightgreen;
    background-color: white;
}

.imgrm {
    background-color: orange;
}

div.menu > div {
    float: left;
    /* margin-left: 1em; */
    padding-right: 1em;
}

div.clr,
div#content {
    clear: both; 
}

/*  ===================================================
    image info display
    ===================================================*/
div.imgInfo {
    /* background-color: black;
    color: lightgray;
    padding: 10px; */
    padding-left: 50px;
}
/* div.imgInfo > img {
    border: 1px solid lightgray;
} */
div.exifData {
    display: table;
    margin-bottom: 0.25em;
}
div.exifData > div {
    display: table-row;
}
div.exifData > div:first-child {
    font-weight: bold;
}
div.exifData > div > span {
    display: table-cell;
    padding-right: 1em;
}