

div#cover {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 5;
    width: 100%;
    height: 100%;
    background-color: gray;
    opacity: 0.6;
    visibility: hidden;
}

.modal {
    position: absolute;
    top: 1%;
    left: 1%;
    z-index: 9;
    width: 95%;
    height: 95%;
    background-color: white;
    border: 1px solid black;
    padding: 1%;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);
    visibility: hidden;
}

.mod_content {
    height: 90%;
    margin: 0;
    overflow-y: auto;
}

div.listing * {
    padding: 0;
    margin: 0;
}

div.listing img {
    height: 100px;
    width: auto;
}

div.listing > a {
    display: block;
    /* background-color: cyan; */
    /* cursor: pointer; */
    margin: 10px;
    padding: 0;
}

div.listing > a:hover {
    background-color: lightgrey;
}

div.listing a > p {
    display: inline-block;
    margin: 0;
    vertical-align: middle;
    padding-left: 1%;
}

div.listing a > p:first-child {
    width: 120px;
    margin-right: 2em;
    text-align: center;
    /* padding-left: 0; */
}

div#content {
    height: 1000px;
    background-color: lightgrey;
}
