<!--
    inner table for language listings / edit
    can be content for rendering or ajax calls
-->
<table class="ltb">
    <thead>
        <tr>
            {% for lang in langs %}<td>{{lang[1]}}</td>{% endfor %}
            <td>edit</td>
        </tr>
    </thead>
    <tbody>
        {% for id, labels in rows %}
            <tr>
                {% for label in labels %}<td>{{label}}</td>{% endfor %}
                <td><a onclick="popup('/_bablform/{{id}}');" title="edit #{{id}}"> </a></td>
            </tr>
        {% endfor %}
        <tr>
            {% for lang in langs %}<td></td>{% endfor %}
            <td><a onclick="popup('/_newbablform/{{tp}}');" title="new item">*</a></td>
        </tr>
    </tbody>
</table>
