form#ttl(method="post", onsubmit="{{onsubmit}};return false;")
    .ttl
        block head
        {% for ilc, label, value in data %}
        div
            p {{label}}
            textarea(rows=1, id="{{ilc}}", name="{{ilc}}", lang="{{ilc}}", maxlength="128") {{value}}
            button(type="button", onclick="google('{{ilc}}')") ..
        {% endfor %}
.buttons
    input(type="submit", form="ttl", value="{{cap('SAVE CHGS')}}")
    p#popup_info 
