.imgInfo
    .exifData
        {% for tag, val in data %}
        div
            span {{tag}}
            span {{val}}
        {% endfor %}
    a(target='_blank', href='{{src}}', title='view in separate tab')    
        img(src="{{src}}", alt="Image {{id}}")
