.imgInfo
    .exifData
        {% for tag, val in data %}
        div
            span {{tag}}
            span {{val}}
        {% endfor %}
    a.imgdisp(target='_blank', href='{{src}}')    
        img(src="{{src}}", alt="Image {{id}}")
