<!--
    inner table for language listings / edit
    can be content for rendering or ajax calls
-->
<div class="clickSel">
    <div>{% for ilc, label in langs %}<span>{{label}}</span>{% endfor %}</div>
    {% for id, labels in rows %}
    <a onclick="popup('/_langElem/{{id}}');" title="edit #{{id}}">
            {% for label in labels %}<span>{{label}}</span>{% endfor %}
    </a>        
    {% endfor %}
    <a onclick="popup('/_newLangForm/{{tpc}}');" title="new item">
        {% for lang in langs %}<span>...</span>{% endfor %}
    </a>
</div>
