<!--
    inner table for language listings / edit
    can be content for rendering or ajax calls
-->
<div class="clickSel">
    <div>{% for ilc, label in langs %}<span>{{label}}</span>{% endfor %}</div>
    <a onclick="popup('/_newTtl/{{tpc}}');" title="new item">
        {% for lang in langs %}<span>...</span>{% endfor %}
    </a>
    {% for id, labels in items %}
    <a onclick="popup('/_ttl/{{id}}');" title="edit #{{id}}">
            {% for label in labels %}<span>{{label}}</span>{% endfor %}
    </a>
    {% endfor %}
</div>
