p current title is a standard title
ul 
    li: a(onclick="popup('/_objOwnTtl/{{objId}}')") create own title for object {{objId}}
    li: a(onclick="popup('/_objTtl/{{objId}}')") edit this standard title
