.center
    form(method="post", onsubmit="usePopupSubmit(this, '/{{submit}}', '{{field}}');return false;")
        include _obj_dim_inputs.jade
        .buttons 
            input(type="submit", value="Submit")
            