<div class="center">
<form id="popup_form" method="post" onsubmit="usePopupSubmit(this, '/{{submit}}', '{{field}}');return false;">
    <div class="dims">
        <input type="text" name="dim1" value="{{obj['dim1']}}" pattern="\d+(?:[.,]\d+)?" autofocus onfocus="this.select()"> x
        <input type="text" name="dim2" value="{{obj['dim2']}}" pattern="\d+(?:[.,]\d+)?"> x
        <input type="text" name="dim3" value="{{obj['dim3']}}" pattern="\d+(?:[.,]\d+)?">
    </div>
    <div>
        <input type="radio" id="cm" name="unit" value="cm" checked>
        <label for="cm">cm</label><br>
        <input type="radio" id="inch" name="unit" value="inch">
        <label for="inch">inch</label>
    </div>
    <input type="submit" value="Submit"/>
    <!-- <button type="submit">Submit</button> -->
</form>
</div>
