.dims
    input(type="text", name="DIM1", value="{{obj['DIM1']}}", pattern="\d+(?:\.\d+)?", autofocus=true, onfocus="this.select()") 
    |  x
    input(type="text", name="DIM2", value="{{obj['DIM2']}}", pattern="\d+(?:\.\d+)?") 
    |  x
    input(type="text", name="DIM3", value="{{obj['DIM3']}}", pattern="\d+(?:\.\d+)?") 
    |  cm
            