.center
    div
        p current title is a standard title
        a(onclick="popup('/_objOwnTtl/{{objId}}', '{{usrIlc}}')") create own title for object {{objId}}
        a(onclick="popup('/_objTtl/{{objId}}', '{{usrIlc}}')") edit this standard title
