div(style="width: 50%; margin: auto;")
    #printme(onclick="printElementContent(this);", style="cursor: pointer;")
        include _qrcode_print.jade
    button(onclick="printElementContentById('printme');", style="margin-top:20px;") Print