div(style="display: inline-block; padding: 10px; border: 1px solid black; text-align: center;")
    p(style="font-family:Verdana,Helvetica,Sans-Serif,Arial;font-size: 16pt;margin:0") {{what}} {{id}}
    img(src="data:image/png;base64, {{b64}}", alt="{{url}}", style="margin-top: 10px;")
