<!--
    inner table for language entry / edit
    content for ajax calls
-->
<form id="popup_form" method="post" action="" onsubmit="submitPopup('/{{submit}}', '{{replace}}');return false;">
    <table class="lel">
        {% for ilc, label, value in data %}
            <tr>
                <td>{{label}}</td>
                <td><textarea rows=2 id="{{ilc}}" name="{{ilc}}" lang="{{ilc}}" maxlength="128">{{value}}</textarea></td>
            </tr>
        {% endfor %}
    </table>
    <input type="hidden" name="tpc"     value="{{tpc}}">
    <input type="hidden" name="STDABLE" value="{{item['STDABLE']}}">
    <input type="hidden" name="objId"   value="{{objId}}">
    {% if item['STDABLE'] %}
        <input type="checkbox" id="STD" name="STD" {{ 'checked' if item['STD'] else '' }}>
        <label for="STD">Use as standard title</label>
    {% endif %}
    <!-- <div class="buttons">
    </div> -->
</form>
<div class="buttons">
    <button onclick="getGoogle()">google translate</button>
    <input type="submit" form="popup_form" value="Save Changes"/>
    <p id="popup_info"></p>
</div>
