form#ttl(method="post", onsubmit="{{onsubmit}};return false;")
    .ttl
        {% for ilc, label, value in data %}
        div
            p {{label}}
            textarea(rows=2, id="{{ilc}}", name="{{ilc}}", lang="{{ilc}}", maxlength="128") {{value}}
        {% endfor %}
    {% if info['STD'] %}
    input(type="hidden", name="STD", value="1")
    {% elif info['STDABLE'] %}
    input(type="checkbox", id="STD", name="STD")
    label(for="STD") use as standard title
    {% else %}
    input(type="hidden", name="STD", value="0")
    {% endif %} 
    input(type="hidden", name="tpc", value="{{tpc}}")
    input(type="hidden", name="STDABLE", value="{{info['STDABLE']}}")
    input(type="hidden", name="objId", value="{{objId}}")
    input(type="hidden", name="TTL", value="{{info['TTL']}}")
.buttons
    button(onclick="getGoogle()") google translate
    input(type="submit", form="ttl", value="save changes")
    p#popup_info 
