{% extends 'aut_base.jade' %}
block content
    #obj_top
        #obj_display
            //- .img.objImg
            img#objImg(src="{{obj['SRC']}}", alt="object {{objId}}")
            p#LABEL {{obj['LABEL']}}
            p#YEAR {{obj['YEAR']}}
            p#WLABEL {{obj['WLABEL']}}
            p#DIMS {{obj['DIMS']}}
        #obj_ed
            include _obj_values.jade
    .clr         
    span#objId(style="visibility: hidden;") {{objId}}
    h2 {{cap('IMGS')}}
    p.label {{cap('UPLD IMGS')}}
    input.dropZone(type="file", multiple=true, onchange="uploadImgs(this, 'objImgs', {{objId}});", accept="{{acceptImgTypes}}") 
    p.label {{cap('RE-ORD OBJ IMGS')}}
    .imgDisplayFrame
        #objImgs.imgDisplay.objImgs
        .clr 
    p.label {{cap('UNUSED IMGS DRAG')}}
    .imgDisplayFrame
        #freeImgs.imgDisplay
        .clr 
    script 
        | document.body.onload = () => { loadObjImgs('objImgs', {{objId}}); loadUnusedImgs('freeImgs'); }
         