{% extends 'aut_base.htm' %}

{% block content %}
    <h1>Object no. {{objId}}</h1>
        <button onclick="popup('/_qrcode/{{objId}}');">QRCode</button>
        <h2 class="title">Title: <span id="objTitle">{{objTitle}}</span></h2>
    {% if ttlId %}
        <button onclick="popup('/_edObjTitle/{{objId}}');">Edit title</button>
    {% else %}
        <button onclick="popup('/_newObjTitle/{{objId}}');">Create new title</button>
    {% endif %}
        <button onclick="popup('/_stdObjTitle/{{objId}}');">Use a standard title</button>
    {% if ttlId %}
    <form method="post" action="/saveNewObj">
        <input type="hidden" name="objId" value="{{objId}}"/>
        <input type="hidden" name="ttlId" value="{{ttlId}}"/>
        <button type="submit">Save</button>
    </form> 
    {% endif %}
{% endblock %}
