<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="ISO-8859-1">
    <title>Login</title>
    <link rel="stylesheet" href="static/aut_site.css">
    <link rel="shortcut icon" type="image/x-icon" href="static/favicon.ico" >
</head>
<body>
    <div class="center">
        <div>
            <h3>Login</h3>
            <form action="/login" method="post" accept-charset="ISO-8859-1" class="login">
                <label for="usr">Member</label>
                <input type="text" placeholder="Enter Name" name="usr" lang="en" autofocus required>
                <label for="pwd">Password</label>
                <input type="password" placeholder="Enter Password" name="pwd" required>
                <button type="submit">Login</button>
            </form>
        </div>
    </div>
</body>
</html>
