{% extends 'aut_base.htm' %}

{% block head %}
<link rel="stylesheet" href="static/aut_login.css">
{% endblock %}

{% block content %}
<form action="/pwd" method="post" accept-charset="ISO-8859-1">
    <div>
        <p>
            <label for="pwd1">New Password</label>
            <input type="password" placeholder="Enter New Password" name="pwd1" autofocus required>
        </p>
        <p>
            <label for="pwd2">New Password Repeated</label>
            <input type="password" placeholder="Repeat New Password" name="pwd2" required>
        </p>
    </div>
    <button type="submit">Submit</button>
</form>
{% endblock %}
