{% from 'mixins.jade' import meta, script, style %}

doctype html
html(lang='en')
    head
        title {{cap('AUT SITE')}} - {{cap(title)}}
        meta(charset='UTF-8')
        block css
            +style('aut_site')
        link(rel="shortcut icon", type="image/x-icon", href="/static/favicon.ico")
    body
        #popup.modal
        #cover.modal
        #menu
            include dropdown_login.jade
            include dropdown_usr_lang.jade
            include dropdown_objs.jade
            include dropdown_ttls.jade
            .clr
        div 
            h2 {{cap(title)}} {{"#%d" % id if id}}
            button(onclick="fastTest()") click me
            #content
                block content 
        +script('aut_site')
        +script('navi')
        +script('test_fetch')
    //- script 
    //-     | document.onload = whatchLogin();
