<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Authors Side - {{title}}</title>
    <link rel="shortcut icon" type="image/x-icon" href="/static/favicon.ico" >
    <link rel="stylesheet" href="/static/aut_site.css">
    {% block head %} {% endblock %}
</head>
    {% block body %} <body> {% endblock %}
    <div id="popup" class="modal">
        <div class="buttons">
            <button onclick="closePopup();">Close</button>
        </div>
        <!-- this is the place ajax popup content: -->
        <div id="popup_content">

        </div>
    </div>
    <div id="cover" class="modal"></div>
    <div id="menu">
        <div class="menu">
            <div id="usr">
                <h3>Author</h3>
                <ul>
                    <li>Login: {{ session['usr'] }}</li>
                    <li><a href="/logout">Logout</a></li>
                    <li><a href="/pwd">Change Password</a></li>
                    <li><a href="/">Top</a></li>
                </ul>
            </div>
            <div id="tasks">
                <h3>Multi Language Support</h3>
                <!-- TODO: generated content: babl editing -->
                <ul>
                {% for tpc, label in langItems %}
                    <li><a href="/langItems/{{tpc}}">Edit {{label}}</a></li>
                {% endfor %}
                </ul>
            </div>
            <div id="art">
                <h3>Articles</h3>
                <ul>
                    <li><a href="/newArt">New Article</a></li>
                    <li><a onclick="popup('/_edArtList')">Edit Article</a></li>
                </ul>
            </div>
        </div>
        <div class="clr"></div>
    </div>
    <div>
        <h2>{{title}} {{"#%d" % id if id}}</h2>
        <!-- this is the place for rendered or ajax content: -->
        <div id="content">
            {% block content %} {% endblock %}
        </div>
    </div>
    <!-- Why put JS at end of body:  
        it gives the HTML time to load before any of the JavaScript loads, 
        which can prevent errors, and speed up website response time.
    -->
    <script src="/static/aut_site.js"></script>
    <!-- <script>
        document.onload = whatchLogin();
    </script> -->
</body>
</html>
