<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="ISO-8859-1">
    <title>Login</title>
    <link rel="stylesheet" href="static/aut_site.css">
    <link rel="shortcut icon" type="image/x-icon" href="static/favicon.ico" >
</head>
<body>
    <form action="/login" method="post" accept-charset="ISO-8859-1" class="login">
        <div>
            <p>
                <label for="usr">Author</label>
                <input type="text" placeholder="Enter Name" name="usr" lang="en" autofocus required>
            </p>
            <p>
                <label for="pwd">Password</label>
                <input type="password" placeholder="Enter Password" name="pwd" required>
            </p>
        </div>
        <button type="submit">Login</button>
    </form>
</body>
</html>
