{% from 'mixins.jade' import meta, script, style %}

doctype html
html(lang='en')
    head
        title Authors Side - {{title}}
        meta(charset='UTF-8')
        block css
            +style('aut_site')
        link(rel="shortcut icon", type="image/x-icon", href="static/favicon.ico")
    body
        #popup.modal
        #cover.modal
        #menu
            include dropdown_author.jade
            include dropdown_usr_lang.jade
            include dropdown_articles.jade
            include dropdown_ttls.jade
            .clr
        div 
            h2 {{title}} {{"#%d" % id if id}} 
            #content
                block content 
        +script('aut_site')
        +script('navi')
    //- script 
    //-     | document.onload = whatchLogin();
