.dropdown 
    a objects 
    div
        div 
            a(href="/newObj") new object
            a(onclick="popup('/_edObjList')") edit object
            a(onclick="popup('/_edUsrObjList')") my recent objects