.dropdown 
    a articles 
    div
        div 
            a(href="/newArt") new article
            a(onclick="popup('/_edArtList')") edit article
            a(onclick="popup('/_edUsrArtList')") my recent articles