.dropdown 
    a {{cap('OBJS')}} 
    div
        div 
            a(href="/newObj") {{cap('NEW OBJ')}} 
            a(onclick="popup('/_edObjList')") {{cap('ED OBJ')}} 
            a(onclick="popup('/_edUsrObjList')") {{cap('USR OBJS')}}