.dropdown 
    a articles 
    div
        div 
            a(href="/newObj") new article
            a(onclick="popup('/_edObjList')") edit article
            a(onclick="popup('/_edUsrObjList')") my recent articles